
#overzicht{
    padding: 0rem;
}

div.css-ocqkz7{
    align-items: center;
}

.own_card{
    font-weight: 700;
}

#containerDuplicateCards{
    overflow-y: scroll;
    max-height: 40rem;
    background-color: lightgray;
}

.e1wqxbhn1{
    font-size: 80% !important;
}

.materialcard{
    width: 90% !important;
}

.materialcard > div > div > iframe{
    overflow: scroll !important;
    max-width: 93% !important;
    height: 100%;
}

.materialcard > div > div > div > div > div > div > iframe{
    overflow: scroll !important;
    max-width: 93% !important;
    height: 100%;
}

/* .materialcard > div > div:nth-of-type(3) > iframe{
    overflow: scroll !important;
    max-width: 93% !important;
    height: 100%;
}

.materialcard > div > div:nth-of-type(5) > iframe{
    overflow: scroll !important;
    max-width: 93% !important;
    height: 100%;
} */

.materialcard > div{
    border-radius: 4px !important;
    background: #fff !important;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12) !important;
    padding: 20px 20px 20px 20px;
    margin-bottom: 1.5rem !important;
}

.materialcard:hover > div{
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06) !important;
}

div [data-testid="stJson"]{
    overflow-y: scroll !important;
    max-height: 20rem !important;
    /* overflow-x: scroll; */
    
}

